.trip-images {
    width: 150px;
}

.container {
    max-width: 100%;
    max-height: 100%;
}

.banner-image-container {
    overflow: hidden;
}
  
#parallelogram {
    width: 500px;
    height: 690px;
    margin: 0 0 0 -20px;
    padding-left: 0px;
    left: -25px;
    -webkit-transform: skew(-4deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: grey;
    overflow: hidden;
    position: relative;
}

.image {
    background: url("../../../../assets/images/seoul-sakura.jpg");
    background-size: auto 100%;
    position: absolute;
    top: -30px;
    left: -80px;
    right: -30px;
    bottom: -30px;
    -webkit-transform: skew(4deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}