*:focus {
    outline: 0;
    outline: none;
  }

.description {
    width: 200px;
}

.main-page-image {
    width: 600px;
    height: 690px;
}

.center-platform {
    height: 690px;
    background-image: url("https://images.unsplash.com/photo-1653764912740-260f881672fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-box {
    background-color: #FFFF00;
    width: 300px;
    height: 300px;
    text-align:center;
}

.description-for-intro {
    text-align: left;
    width: 100px;
}