[class^="col"] {
    outline: 1px solid gray;
  }
  
  .container {
    max-width: 100%;
    max-height: 100%;
  }
  
  .banner-image-container {
    overflow: hidden;
  }
  
  #parallelogram {
    width: 500px;
    height: 700px;
    margin: 0 0 0 -20px;
    padding-left: 0px;
    left: -25px;
    -webkit-transform: skew(-4deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: grey;
    overflow: hidden;
    position: relative;
  }
  
  .image {
    background: url("../../assets/images/backpacker.jpg");
    background-size: auto 100%;
    position: absolute;
    top: -30px;
    left: -80px;
    right: -30px;
    bottom: -30px;
    -webkit-transform: skew(4deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    text-align:left;
    line-height: 200px;
  }
  
  .black-filter {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.65));
    padding-left:170px;
    height: 100%;
  }
  
  .create-new-trip-button {
    margin-top:10px;
    padding-top:40px;
  }
  
  a:link {
    text-decoration: none;
    color: white;
  }

  .user-profile-details {
      width: 500px;
      text-align:center;
      margin: 0 auto;
  }